*{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(233, 231, 253);
    height: 100vh;
    width: 100vw;
}
nav{
    background-color: white;
    height: 55px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.11) 1px 1px 10px;
}
#logo{
    padding: 10px;
    color: rgba(0, 0, 255, 0.664);
    font-size: 29px;
}
.side-nav{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
}
.email{
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.164);
    width: 150px;
    height: 10px;
}
.password{
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.164);
    width: 150px;
    height: 10px;
}
.button{
    height: 40px;
    width: 70px;
    color: white;
    background-color: rgba(0, 0, 255, 0.664);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}
a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(0, 0, 255, 0.664);
}
#box{
    border: solid;
    border-color: white;
    border-radius: 10px;
    width: 500px;
    height: 280px;
    margin: auto;
    margin-top: 75px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.267) 1px 1px 2px;
}
.content{
    border: none;
    height: 250px;
    width: 470px;
    margin: auto;
    margin-top: 12px;
}
.content h2{
    padding: 10px;
    font-size: 23px;
    position: relative;
    top: -9px;
    right: 5px;
}
#fline{
    position: relative;
    right: 18px;
    width: 504px;
    background-color: rgba(0, 0, 0, 0.164);
    height: 1px;
    border: none;
}
.content p{
    font-size: 17px;
    margin-top: 15px;
}
.address{
    padding: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.164);
    width: 438px;
    position: relative;
    top: 20px;
}
#line{
    position: relative;
    top: 40px;
    right: 18px;
    width: 504px;
    background-color: rgba(0, 0, 0, 0.164);
    height: 1px;
    border: none;
}
.cancle{
    position: relative;
    top: 56px;
    left: 280px;
    width: 90px;
    color: rgba(0, 0, 0, 0.76);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}
.search{
    position: relative;
    top: 56px;
    left: 285px;
    width: 90px;
    color: white;
    background-color: rgba(0, 0, 255, 0.664);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    padding: 10px;
    font-weight: 700;
}
footer{
    border: none;
    height: 120px;
    margin-top: 80px;
    background-color: white;
}
@media(max-width:600px){
    *{
        margin: 0;
        padding: 0;
    }
    .email{
        display: none;
    }
    .password{
        display: none;
    }
    #box{
        padding: 0 25px;
        width: 80vw;
    }
    .content{
        width: 80vw;
    }
    #fline{
        width: 91vw;
        right: 27px;
    }
    #line{
        width: 91vw;
        right: 27px;
    }
    .content p{
        width: 85vw;
    }
    .address{
        width: 75vw;
    }
    .cancle{
        left: 215px;
    }
    .search{
        left: 220px;
    }
}